# ------------------------------------------------------------------------------
# This is an example .env file.
#
# Copy this file to .env and replace the values with your own.
#
# ------------------------------------------------------------------------------

BRITISH_LIBRARY_USERNAME=YOUR_USERNAME_HERE
BRITISH_LIBRARY_PASSWORD=YOUR_PASSWORD_HERE
